#title {
position: absolute;
left: 15px;
top 15px;
font-size: larger;
}
#left {
position: absolute;
left: 15px;
top: 30px;
width: 300px;
}
#right {
position: absolute;
left: 400px;
top: 30px;
width: 300px;
}
.textarea_as_view{
    border: none;
    resize: none;
}
#link {
    position: absolute;
    height: 15;
    bottom: 0;
    width: 100%;
}