{% extends "base.html" %}
{% load edit_link %}
{% block title %} Contact. {% endblock title %}
{% block content %}
<p id="title" > 42 Coffee Cups Test Assignment </p>
    <div id="content">
<div id="left" >
    <br>
    <br>
    <p id="name"> {{ person.name }}</p>
    <p id="last_name">{{ person.last_name }}</p>
    <p id="date_of_birth"> {{ person.date_of_birth }} </p>
    </div>


<div id="right" >
     <p> Contacts </p>
     <p id="email"> Email: {{ person.email }} </p>
     <p id="jabber"> Jabber: {{ person.jabber }}  </p>
     <p id="skype"> Skype: {{ person.skype }} </p>


</div>
    <div id="edit_textarea">
    <p id="other_contacts" > Other contacts:<br> <textarea class="textarea_as_view" rows="10" cols="40" readonly>{{ person.other_contacts }}</textarea></p>
    <p id="bio"> Bio:<br> <textarea rows="10" cols="40" class="textarea_as_view" readonly>{{ person.bio }}</textarea></p>
    </div>
    <img id="photo" src="/uploads/{{ person.photo }}">
</div>
    <div id="link" > <hr> <a href="/requests">requests</a>  </div>

    <div id="auth_info">  <a href="/edit">edit</a> <a href={% edit_link person %}>Admin</a> </div>
{% endblock %}
