{% extends "base.html" %}
{% block content %}
<p id="title" > 42 Coffee Cups Test Assignment </p>
<div id="left" >
    <br>
    <br>
    <p id="name"> {{ person.name }}</p>
    <p id="last_name">{{ person.last_name }}</p>
    <p id="date_of_birth"> {{ person.date_of_birth }} </p>
    <p id="bio"> Bio:<br> {{ person.bio | linebreaks }}</p>
</div>


<div id="right" >
     <p> Contacts </p>
     <p id="email"> Email: {{ person.email }} </p>
     <p id="jabber"> Jabber: {{ person.jabber }}  </p>
     <p id="skype"> Skype: {{ person.skype }} </p>
     <p id="other_contacts" > Other contacts:<br>{{ person.other_contacts | linebreaks   }}</p>

</div>
    <div id="link" > <hr> <a href="/requests">requests</a>  </div>
{% endblock %}